i.ms-Button-menuIcon {
  display:none;
}
.hoverEffect:hover{
  background-color:#CCC;
}
.ms-DetailsRow {
  border-bottom: 1px solid #ccc;
}
.ms-SearchBox-field:focus  {
  border: none !important;
}
.ms-DetailsRow-fields a.ms-Link{
	font-size:12px;
	color:rgb(0, 120, 212) !important;
}