i.ms-Button-menuIcon {
  display:none;
}
.ms-DetailsHeader {
  padding-top: 0px;
}
.hoverEffect:hover{
  background-color:#CCC;
}
.field-name.ms-DetailsRow-cell{
  padding-left:24px;
}
.ms-DetailsRow {
  border-bottom: 1px solid #ccc;
}
.ms-SearchBox-field:focus  {
  border: none !important;
}
.ms-DetailsRow-fields a.ms-Link{
  font-size: 14px;
  line-height: 20px;
	color:#000 !important;
}
.ms-DetailsRow-fields{
  display: table;
}
.ms-Button--action.hoverEffect{
  margin-top: 8px;
}
.area-first{
  margin-bottom: 15px;
}

.ms-DetailsRow-fields .ms-DetailsRow-cell{
  padding: 0px 0px 0px 14px;
  display: table-cell;
  vertical-align: middle;
}
.field-name1{
  padding-left: 24px !important;
}
@media (min-width: 640px){
  .ms-Dialog-main {
    min-width: 300px!important;
  }
  #ModalFocusTrapZone9 {
    min-width: 300!important;
  }
}

@media (max-width: 1024px){
  .shareButton{
    display: none;
  }
}
@media (max-width: 320px){
  .shareButton{
    display: none;
  }
}